body {
  height: 1000px;
}

h1,h2,h3,h4,h5,ul {
  margin: 0;
}

main {
  position: relative;
  top: 5%;
  height: 80%;
}

main .container {
  height: 100%;
}

#quote {
  height: 40%;
  position: relative;
  box-shadow: 0 2px 3px 1px gray;
}

#quote .container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#quiz {
  height: 100%;
}

#quote.row {
  width: 90%;
}

#quote h2 {
  font-size: 2em;
}

#quote h3 {
  font-size: 1.3em;
}

#quote-text {
  font-size: 1.4em;
}

#question {
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#question .row.extra-info {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

#question .row.extra-info .col {
  margin-left: 0;
}

#party, #position, #state {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

#question .row {
  height: 50%;
  margin-bottom: 0;
}

#answer {
  height: 30%;
  display: flex;
  align-items: center;
}

#answer .row {
  width: 100%;
}

#prompt h2 {
  font-size: 1.5em;
  margin: 3% 0 0 0;
}

#quote-tracker {
  height: 10%;
}

#quote-count {
  margin-top: 0;
  margin-bottom: 5px;
}

#submit {
  height: 50px;
  width: 200px;
}
#submit p {
  margin: 0;
  font-size: 1em;
}

.choices {
  height: 10%;
  margin-bottom: 0;
}

.p-choices .btn {
  height: 50px;
  width: 250px;
  display: flex;
  flex-direction: row;
}

.politician-guess {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-info {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-choices .btn {
  height: 75px;
  width: 140px;
}

.choices .btn {
  margin: 0;
  padding: 0;
}

.choices-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.politician-info .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.politician-panel {
  height: 200px;
  width: 200px;
  box-shadow: 0 1px 1px 1px gray;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.panel-photo {
  align-self: center;
}

.politician-panel p {
  margin: 2px;
}

.info-party, .info-position, .info-state, .panel-photo {
  padding-left: 10px;
}

footer .page-footer {
  margin: 0;
}

.selected {
  background-color: #4caf50;
}

.off {
  display: none;
}
