@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=PT-Serif');

body {
  height: 750px;
}

.body-background {
  background: #42a5f5;
}
h1,h2,h3,h4,h5,ul {
  margin: 0;
}

nav h1 {
  font-family: Cinzel;
  font-weight: bolder;
}

main {
  position: relative;
  top: 3%;
  height: 80%;
}

main .container {
  height: 100%;
}

#quiz {
  height: 100%;
  width: 100%;
}

#quote {
  height: 65%;
  width: 100%;
  position: relative;
  box-shadow: 0 0px 3px 0px gray;
  background-color: white;
}

#quote h3, #quote p {
  color: black;
}

#quote .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#quote.row {
  width: 90%;
}

#quote h2 {
  font-size: 2em;
}

#quote h3 {
  font-size: 1.3em;
}

#quote-text {
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-top: 20px;
}

h3#politician {
  font-weight: bold;
  color: #ef5350;
}

#context {
  font-style: italic;
  margin-top: 5px;
}

#question {
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#question .row {
  width: 100%;
}

#question .row.extra-info {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

#question .row.extra-info .col {
  margin-left: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#party, #position, #state {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.top {
  height: 54%;
}

.extra-info {
  height: 45%;
}

#question .row {
  margin-bottom: 0;
}

#question-results {
  height: 15%;
  width: 100%
}

#question-results .col {
  height: 100%;
}

#politician-question, #truth-question {
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  background-color: white;
  box-shadow: 0 0 2px 0 gray;
  box-sizing: border-box;
  padding: 10px;
}

#question-results .row {
  height: 100%;
  width: 100%;
}

#question-results.col.s6 {
  height: 100%;
}

#question-results h4 {
  font-size: 1.75em;
}

p#truth-answer, p#politician-answer {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
}

#question-results p {
  font-size: 1em;
  margin: 0;
}

#truth-question, #politician-question {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.truth-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.img-size {
  height: 100%;
  width: 100%;
}

.img-size2 {
  height: 80%;
  width: 80%;
}

#prompt {
  height: 7.5%;
}

#prompt h2 {
  font-size: 2em;
  font-family: 'PT Serif';
  /*font-weight: bold;*/
  color: white;
  margin: 2% 0;
}

#quote-tracker {
  margin-top: 3%;
  height: 5%;
}

#quote-tracker.col.s12.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#quote-count {
  margin-top: 0;
  margin-bottom: 5px;
}

#submit, .add-quotes, .add-quotes-results {
  /*margin-top: 3%;*/
  height: 50px;
  width: 200px;
}

#submit p {
  margin: 0;
  font-size: 1em;
}


.choices {
  height: 7.5%;
  margin-bottom: 0;
}

.p-choices .btn {
  height: 50px;
  width: 225px;
  display: flex;
  flex-direction: row;
}
#answer-1, #answer-2, #answer-3, #answer-4 {
  font-size: .9em;
  margin-top: 0;
  margin-bottom: 0;
}


.politician-guess {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-info {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-choices .btn {
  height: 50px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choices .btn {
  margin: 0;
  padding: 0;
}

.choices-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.politician-info {
  height: 20%;
}

.politician-info .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.politician-panel {
  height: 200px;
  width: 200px;
  background-color: white;
  box-shadow: 0 1px 1px 1px gray;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.panel-photo {
  align-self: center;
}

.politician-panel p {
  margin: 2px;
}

.info-party, .info-position, .info-state, .panel-photo {
  padding-left: 10px;
}

p#party, p#position, p#state {
  font-size: 1.1em;
  margin: .5px;
}

.extra-info h4 {
  font-size: 1em;
  font-weight: bold;
  color: #ef5350;
}

footer .page-footer {
  margin: 0;
}

.selected {
  background-color: #4caf50;
}

.off {
  display: none;
}

.results {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.results-add-quotes {
  margin: 0 auto;
}

#results h2 {
  color: #42a5f5;
}

#results h3 {
  font-size: 2em;
  color: black;
}

#results h5 {
  font-family: 'PT-Serif';
  color: #ef5350;
}

#results h2, #results h3 {
  font-family: 'PT-Serif';
  text-align: center;
  margin-bottom: 5px;
}

#results-heading {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.collapsible-body p {
  padding: 1rem;
}

.green-correct {
  background-color:#66bb6a;
}

.green-correct-color {
  color: #66bb6a;
}

.red-incorrect {
  background-color: #ef5350;
}

.red-incorrect-color {
  color: #ef5350;
}

.yellow-close {
  background-color: #ffee58;
}

.yellow-close-color {
  color: #fdd835;
}

/* has similar class above */
#results {
  height: 100%;
}

.stage-1-box, #stage2, #stage3 {
  width: 100%;
  height: 15%;
  margin-bottom: 5%;
}

#stage1.row.col.s6, #stage2.row.col.s6, #stage3.row.col.s4 {
  height: 100%;
}

#politician-results, #truth-results {
  padding: 20px;
}

.stage-1-box {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px 0 gray;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 0;
}

.quick-bio {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#most-answers {
  height: 30%;
  width: 100%;
}

#most-success {
  height: 30%;
  width: 100%;
}

#democrat, #republican, #third-party {
  height: 100%;
  width: 33.3%;
}

#democrat, #republican, #third-party {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px 0 gray;
  background-color: white;
}

.party-p {
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
}

#party-results-dem, #party-results-rep, #party-results-third {
  padding: 0 20px 20px 20px;
}

.party-results-dem, .party-results-rep, .party-results-third {
  height: 50%;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 3px 0 gray;
}

#status {
  width: 100%;
  height: 2%;
  margin: 0;
}

.stage-2-box {
  background-color: white;
  box-shadow: 0 0 3px 0 gray;
}

#most-questions, #most-successful {
  padding: 20px;
}
